In [202]:
import pandas as pd
import math
from time import sleep
from opencage.geocoder import OpenCageGeocode
from clean import *

In [203]:
df = pd.read_csv('data/profile_data.csv')

In [204]:
df = clean(df)

CLEANING DATA
...
FOUND 56783 ENTRIES
REMOVED 0 EMPTY ENTRIES
REMOVED 0 DUPLICATED ENTRIES

In [215]:
df.head()

,name,age,college,job,city,gender,distance,details,anthem,profile_pic_urls
0,Gianna,19.0,NaN,NaN,Barnegat,NaN,2430,ig- _.giaannaa_\r\nsc- gianna8378,"('Slide (Remix) (feat. Pop Smoke, A Boogie Wit...",['https://images-ssl.gotinder.com/5dc0814dfc09...
1,Lauren,21.0,Florida State University,NaN,NaN,NaN,1981,A meme,NaN,['https://images-ssl.gotinder.com/5e8a352520cc...
2,Britanny,19.0,Santa Ana College,Boys and girls club,Garden Grove,NaN,19,Get to know me ‚ò∫Ô∏è Never been to Disneyland üòÖ S...,NaN,['https://images-ssl.gotinder.com/5cace3ad9b7a...
3,Kayla,28.0,School,NaN,Los Angeles,Woman,18,"I am a creative person that loves simple, inno...",NaN,['https://images-ssl.gotinder.com/5e90cb67da1c...
4,Kimberly,18.0,"California State University, Los Angeles",NaN,NaN,Woman,15,Just for fun\r\nI‚Äôm 5‚Äô2,NaN,['https://images-ssl.gotinder.com/5e0ffa53349f...

In [217]:
data = df.copy()

In [2]:
stats(df)

NameError: name 'stats' is not defined

In [ ]:
df2 = pd.read_csv('data/profile_data.csv')

In [ ]:
len(df2)

In [ ]:
len(df)

In [ ]:
a = 12039+67014

In [ ]:
df = df[-df.name.isna()]

In [ ]:
df2 = df2[-df2.name.isna()]

In [ ]:
b = len(df) + len(df2)

In [ ]:
a

In [ ]:
b

In [ ]:
b/a

In [ ]:
frames = [df,df2]

In [ ]:
combined = pd.concat(frames)

In [ ]:
len(combined)

In [ ]:
combined = combined[-combined.duplicated()]

In [ ]:
len(combined)

In [ ]:
combined.to_csv('profile_data.csv',index=False)

In [ ]:
test = pd.read_csv('profile_data.csv')

In [ ]:
test.head()

In [ ]:
test.age = test.age.apply(lambda x: int(x) if not math.isnan(x) else 0)

In [ ]:
test.city = test.city.apply(lambda x: x[9:] if type(x) != float else x)

In [ ]:
test.gender.unique()

In [ ]:
test.distance = test.distance.apply(lambda x: x.split(' ')[0] if type(x) != float else x)

In [ ]:
test.head()

In [ ]:
type(test.iloc[1,:].college)

In [ ]:
test.name = test.name.apply(lambda x: x.capitalize())

In [ ]:
test.head()

In [ ]:
import plotly.express as px

In [ ]:
fig = px.histogram(test, x="age")
fig.show()

In [ ]:
test.age.describe()

In [ ]:
test[test.age > 65]

In [ ]:
test.distance.isna().sum()

In [ ]:
test.city.isna().sum()

In [ ]:
len(test)

In [ ]:
43270/57779

In [ ]:
test[test.city == "Los Angeles"]

In [ ]:
test.college.isna().sum()/len(test)

In [ ]:
test.job.isna().sum()/len(test)

In [ ]:
test.city.isna().sum()/len(test)

In [ ]:
test.details.isna().sum()/len(test)

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="specify_your_app_name_here")
location = geolocator.geocode("175 5th Avenue NYC")
print(location.address)
print((location.latitude, location.longitude))
print(location.raw)

In [ ]:
location2 = geolocator.geocode("Glendale, AZ")

In [ ]:
print(location2.latitude)
print(location2.longitude)

In [ ]:
new = test[-test.city.isna()]

In [ ]:
location_cache = {}
places = new.city.to_list()

In [ ]:
len(places)

In [ ]:
places = list(places)

In [ ]:
places

In [ ]:
key = "94b38715f5b64f4db83c6313faf5893e"
geocoder = OpenCageGeocode(key)
query = 'Bijuesca, Spain'  
results = geocoder.geocode(query)

In [ ]:
location_cache = {}
for each in places:
    location_cache[each] = geocoder.geocode(each)

In [ ]:
location_cache

In [ ]:
len(location_cache)

In [ ]:
import json

In [ ]:
with open('location_dict.json','w') as file:
    json.dump(location_cache,file)

In [1]:
location_cache['Manhattan'][2]

NameError: name 'location_cache' is not defined