In [1]:
import pandas as pd
from clean import *

In [2]:
df = pd.read_csv('data/raw/profile_data.csv')
df = clean(df)
df = fill_missing_cities(df)
df = add_location_values(df)

-----------------
CLEANING DATA
...
FOUND 118396 ENTRIES
REMOVED 40960 EMPTY ENTRIES
REMOVED 1224 DUPLICATED ENTRIES
76212 ENTRIES REMAIN
-----------------
FILLING MISSING CITY VALUES
FOUND 57254 MISSING VALUES
1264 MISSING CITY VALUES REMAIN (0.02%)
-----------------
ADDING LOCATION COORDINATE VALUES
COULD NOT FIND LOCATION DATA FOR 1958 ENTRIES (0.03%)

In [19]:
df.head()

,name,age,college,job,city,gender,distance,details,anthem,profile_pic_urls,num_pics,filtered_details,location,country,state
0,Gianna,19.0,NaN,NaN,Barnegat,NaN,2430.0,ig- _.giaannaa_\r\nsc- gianna8378,"('Slide (Remix) (feat. Pop Smoke, A Boogie Wit...",['https://images-ssl.gotinder.com/5dc0814dfc09...,4,"{ig-, _.giaannaa_, gianna8378, sc-}","(39.7557462, -74.2207174)",United States of America,New Jersey
1,Lauren,21.0,Florida State University,NaN,Tallahassee,NaN,1981.0,A meme,NaN,['https://images-ssl.gotinder.com/5e8a352520cc...,4,{meme},"(30.4380832, -84.2809332)",United States of America,Florida
2,Britanny,19.0,Santa Ana College,Boys and girls club,Garden Grove,NaN,19.0,Get to know me ‚ò∫Ô∏è Never been to Disneyland üòÖ S...,NaN,['https://images-ssl.gotinder.com/5cace3ad9b7a...,7,"{get, brix207, georgely_, sc, insta, know, ‚ò∫Ô∏è,...","(33.7746292, -117.9463717)",United States of America,California
3,Kayla,28.0,School,NaN,Los Angeles,Woman,18.0,"I am a creative person that loves simple, inno...",NaN,['https://images-ssl.gotinder.com/5e90cb67da1c...,1,"{decently, art, loves, someone, looks, animati...","(34.0536909, -118.2427666)",United States of America,California
4,Kimberly,18.0,"California State University, Los Angeles",NaN,Monterey Park,Woman,15.0,Just for fun\r\nI‚Äôm 5‚Äô2,NaN,['https://images-ssl.gotinder.com/5e0ffa53349f...,6,"{fun, ‚Äô, 5, 2}","(34.051522, -118.129807)",United States of America,California

In [8]:
a = df.iloc[0,9]

In [3]:
l = '640x800_75_83633378-7fec-4f6d-8af2-91fef8b2d726.webp'

In [35]:
a

["'https://images-ssl.gotinder.com/5dc0814dfc09b801007b6c1b/640x800_75_90983506-a499-436b-80d4-d3d7944bf2f6.webp'",
 "'https://images-ssl.gotinder.com/5dc0814dfc09b801007b6c1b/640x800_75_70d06d7f-7bf8-418b-84b9-d285b139a3db.webp'",
 "'https://images-ssl.gotinder.com/5dc0814dfc09b801007b6c1b/640x800_75_f6c88ec2-6883-433b-85a6-3086faee56cf.webp'",
 "'https://images-ssl.gotinder.com/5dc0814dfc09b801007b6c1b/640x800_75_620ec41b-b461-455e-b66e-937810b968c1.webp'"]

In [41]:
def check(user):
    for each in user:
        if l in each:
            return True
        else:
            return False

In [42]:
df['check'] = df.profile_pic_urls.apply(lambda x: check(x))

In [43]:
df.check.sum()

0

In [4]:
mask = df.apply(lambda row: row.astype(str).str.contains(l).any(), axis=1)

In [7]:
df = df.reset_index

In [8]:
df[mask]

TypeError: 'method' object is not subscriptable

In [56]:
df.iloc[1604,:]

name                                                             Tina
age                                                                32
college                                                           NaN
job                                                         Dj, model
city                                                      Los Angeles
gender                                                            NaN
distance                                                           15
details                                  Love dogs and Pinot Grigio.
anthem                                                            NaN
profile_pic_urls    ['https://images-ssl.gotinder.com/5cf362926ea5...
num_pics                                                            7
filtered_details                          {grigio, pinot, love, dogs}
location                                   (34.0536909, -118.2427666)
country                                      United States of America
state                                                      California
check                                                           False
Name: 1607, dtype: object